.page.theme_dark {
    background-image: url(../images/cover-image-dark.png);
    --headlines-color: #DB00FF;
    --accent-color: #FF0070;
    --title-color: #000028;
    --text-title-color: #FF0070;
    --text-color: #F1B2CE;
    --button-color: #FF0070;
    --button-color-opacity: #FF007066;
    --shadow-color: #FF0070;
    --decorated-zone-color: #FF0070;
    --background-color-page:#000028;
}

@media (prefers-color-scheme: dark) {
    .page {
        background-image: url(../images/cover-image-dark.png);
        --headlines-color: #DB00FF;
        --accent-color: #FF0070;
        --title-color: #000028;
        --text-title-color: #FF0070;
        --text-color: #F1B2CE;
        --button-color: #FF0070;
        --button-color-opacity: #FF007066;
        --shadow-color: #FF0070;
        --decorated-zone-color: #FF0070;
        --background-color-page:#000028;
        --font-size: 18px;
    }
