.page.theme_light {
    --headlines-color: #FFC2E6;
    --accent-color: #FF8DCB;
    --title-color: #353430;
    --text-title-color: #353430;
    --text-color: #353430;
    --button-color: #353430;
    --button-color-opacity: #32312D66;
    --shadow-color: #FF0070;
    --decorated-zone-color: #353430;
    --background-color-page:#fff1f7;
    background-color: var(--background-color-page);
    background-image: url(../images/cover-image-light.png);
}

.page.theme_light .header__decoration::before {
    display: none;
}

.page.theme_light .header__decoration::after {
    display: none;
}

@media (prefers-color-scheme: light) {
    :root {
        --headlines-color: #FFC2E6;
        --accent-color: #FF8DCB;
        --title-color: #353430;
        --text-title-color: #353430;
        --text-color: #353430;
        --button-color: #353430;
        --button-color-opacity: #32312D66;
        --shadow-color: #FF0070;
        --decorated-zone-color: #353430;
        --background-color-page:#fff1f7;
    }

    .page {
        background-color: var(--background-color-page);
        background-image: url(../images/cover-image-light.png);
    }

    .page.theme_auto .header__decoration::before {
        display: none;
    }

    .page.theme_auto .header__decoration::after {
        display: none;
    }
}